/* Cor de fundo para o header */
header {
    background-color: #7e8081; /* azul escuro */
    padding: 16px 0;
}

/* Estilo para o nome INFOGE */
header .infoge {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.3s;
    cursor: pointer;
}

/* Mudança de cor ao passar o mouse */
header .infoge:hover {
    color: #ffca28; /* amarelo */
}